## Data Import & Initial Exploration

In [9]:
import pandas as pd

housets_df = pd.read_csv('../data/raw/HouseTS.csv')

In [10]:
housets_df.shape

(884092, 39)

In [12]:
housets_df.head()

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
0,2012-03-31,46550.0,217450.0,31.813674,110.183666,14.0,23.0,44.0,64.0,59.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,200773.999557,Atlanta-Sandy Springs-Alpharetta
1,2012-04-30,61870.0,245000.0,40.723982,130.528256,22.0,29.0,56.0,69.0,89.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202421.064584,Atlanta-Sandy Springs-Alpharetta
2,2012-05-31,125500.0,217450.0,63.913043,119.919216,24.0,40.0,63.0,60.0,144.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202681.309539,Atlanta-Sandy Springs-Alpharetta
3,2012-06-30,153000.0,189900.0,81.598080,105.617353,34.0,46.0,50.0,57.0,126.0,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202998.603897,Atlanta-Sandy Springs-Alpharetta
4,2012-07-31,165500.0,154000.0,81.598080,83.921175,39.0,49.0,42.0,50.0,80.0,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,203781.903446,Atlanta-Sandy Springs-Alpharetta

In [13]:
housets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884092 entries, 0 to 884091
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          884092 non-null  object
 1   median_sale_price             884092 non-null  float64
 2   median_list_price             884092 non-null  float64
 3   median_ppsf                   884092 non-null  float64
 4   median_list_ppsf              884092 non-null  float64
 5   homes_sold                    884092 non-null  float64
 6   pending_sales                 884092 non-null  float64
 7   new_listings                  884092 non-null  float64
 8   inventory                     884092 non-null  float64
 9   median_dom                    884092 non-null  float64
 10  avg_sale_to_list              884092 non-null  float64
 11  sold_above_list               884092 non-null  float64
 12  off_market_in_two_weeks       884092 non-null  float64
 13  city                          884092 non-null  object
 14  zipcode                       884092 non-null  int64
 15  year                          884092 non-null  int64
 16  bank                          884092 non-null  float64
 17  bus                           884092 non-null  float64
 18  hospital                      884092 non-null  float64
 19  mall                          884092 non-null  float64
 20  park                          884092 non-null  float64
 21  restaurant                    884092 non-null  float64
 22  school                        884092 non-null  float64
 23  station                       884092 non-null  float64
 24  supermarket                   884092 non-null  float64
 25  Total Population              884092 non-null  float64
 26  Median Age                    884092 non-null  float64
 27  Per Capita Income             884092 non-null  float64
 28  Total Families Below Poverty  884092 non-null  float64
 29  Total Housing Units           884092 non-null  float64
 30  Median Rent                   884092 non-null  float64
 31  Median Home Value             884092 non-null  float64
 32  Total Labor Force             884092 non-null  float64
 33  Unemployed Population         884092 non-null  float64
 34  Total School Age Population   884092 non-null  float64
 35  Total School Enrollment       884092 non-null  float64
 36  Median Commute Time           884092 non-null  float64
 37  price                         884092 non-null  float64
 38  city_full                     884092 non-null  object
dtypes: float64(34), int64(2), object(3)
memory usage: 263.1+ MB

Insight: No Missing Values in Dataset

In [15]:
housets_df["date"] = pd.to_datetime(housets_df["date"])
housets_df = housets_df.sort_values(by="date")

## Splitting Data
* Data is split into training, validation, and test sets based on date to prevent data leakage.

In [20]:
train_ratio, validation_ratio, test_ratio = 0.7, 0.15, 0.15
n = len(housets_df)
train_df = housets_df.iloc[: int(n * train_ratio)]
validation_df = housets_df.iloc[int(n * train_ratio) + 1 : int(n * (train_ratio + validation_ratio))]
test_df = housets_df.iloc[int(n * (train_ratio + validation_ratio)) + 1 :]
print(f"Train set size: {len(train_df)}\n Date range: {train_df['date'].min().date()} to {train_df['date'].max().date()}\n\n")
print(f"Validation set size: {len(validation_df)}\n Date range: {validation_df['date'].min().date()} to {validation_df['date'].max().date()}\n\n")
print(f"Test set size: {len(test_df)}\n Date range: {test_df['date'].min().date()} to {test_df['date'].max().date()}\n\n")

Train set size: 618864
 Date range: 2012-03-31 to 2020-06-30


Validation set size: 132613
 Date range: 2020-06-30 to 2022-03-31


Test set size: 132613
 Date range: 2022-03-31 to 2023-12-31

In [30]:
train_df.tail(1)

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
314629,2020-06-30,296000.0,282900.0,163.238741,162.0532,58.0,99.0,107.0,54.0,9.0,...,9066.0,1455.0,279400.0,12152.0,416.0,21156.0,21156.0,11052.0,284100.113435,Detroit-Warren-Dearborn

In [31]:
validation_df.head(1)

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
356803,2020-06-30,635000.0,649450.0,446.853147,453.111258,31.0,43.0,48.0,48.0,46.0,...,10680.0,1255.0,444000.0,18227.0,813.0,34531.0,34531.0,16503.0,553000.549483,Los Angeles-Long Beach-Anaheim

In [29]:
# Save the splits
train_df.to_csv('../data/raw/HouseTS_train.csv', index=False)
validation_df.to_csv('../data/raw/HouseTS_validation.csv', index=False)
test_df.to_csv('../data/raw/HouseTS_test.csv', index=False)